@using System.Linq
@model ViewComposition.Models.ArchiveViewModel

@foreach (var year in Model.MonthStatistics.OrderBy(m => m.MonthAndYear).GroupBy(m => m.MonthAndYear.Year)) {
    <h3>@year.Key</h3>
    <ul>
    @foreach (var month in year) {
    <li>@month.MonthAndYear.ToString("MMMM") - @month.NumberOfDocuments</li>
    }
    </ul>
}