@model ViewComposition.Models.PageModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>


<h3>Main</h3>

@foreach(var info in Model.Sections["Main"]) {
    @Html.Partial(info.PartialViewName, info.Model)
}


<h3>Sidebar</h3>

@foreach(var info in Model.Sections["sidebar"]) {
    @Html.Partial(info.PartialViewName, info.Model)
}
